[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==4.1"
dj-database-url = "*"
django-heroku = "*"
django-widget-tweaks = "*"
gunicorn = "*"

[dev-packages]

[requires]
python_version = "3.8"
